* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

nav {
  background-color: #F55A5A;
  height: 55px;
  display: flex;
  color: white;
  align-items: center;
  padding: 20px;
  justify-content: center;
}

.card {
  padding: 20px;
  display: flex;
  position: relative;
}

.card--image {
  max-width: 100%;
  height: 168px;
  border-radius: 5px;
}

.card--info {
  max-width: 100%;
  margin-left: 20px;
}

.card--location {
  color: #2B283A;
  font-size: 10.24px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.741px;
}

.card--url {
  color: #918E9B;
  font-size: 10.24px;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin-left: 10px;
}

.card--title {
  color: #2B283A;
  font-size: 25px;
  font-weight: 700;
  line-height: normal;
}

.card--date {
  color: #2B283A;
  font-size: 10.24px;
  font-weight: 700;
  line-height: normal;
}

.card--desc {
  color: #2B283A;
  font-size: 10.24px;
  font-weight: 400;
  line-height: 150%; 
}

.card--rule {
  position: absolute;
  left: -200px;
  right: 0px;
  bottom: -10px;
  width: 100%;
  width: 1200px;
  height: 0.1px;
  color: rgb(238, 235, 235) solid;
}








